<div class="sequence_c">
	  <% for sequence_liste in @sequence_listes.collect do %> 
    <% unless sequence_liste.image.nil? %>
		<%= image_tag(sequence_liste.image.image_file.medium.url, :ondragstart => "drag(this, event)", :draggable => "true", :id => sequence_liste.id, :class => "image_sequence" ) %>
  <% end %>
	<% end %>


</div>
