<h1>File Upload</h1>
<%= form_tag("/images_sequentielles/create", :multipart => true) do %>
<p><label for="upload_file">Select File</label> : 
<div id="file">
<%= file_field 'sequence', 'file', :multiple => true %></p>
</div>
<div >
</div>
Obligatoire
<%= text_field 'sequence','name'%>
<%= submit_tag "Upload" %>
<% end %>
