<!DOCTYPE html>
<html>
  <head>
    <title>test d'affichage d'image depuis ruby</title>
    <%= javascript_include_tag "prototype" %>
  </head>
  <body>
<script type="text/javascript">

	function drag(target, evt) {
		evt.dataTransfer.setData("Text", target.id);
	
	}
	function drop(target, evt) {
		var id = evt.dataTransfer.getData("Text");
		target.appendChild(document.getElementById(id));
		evt.preventDefault();
	}
</script>
    <h1>Liste des catégories</h1>

	<!-- parcourt de la liste des catégories et affichage de l'image correspondant -->
	 <% for image in @list_categorie.collect do %> 
		<img src="<%= image_path(image.location)%>" id="cr" ondragstart="drag(this, event)">
	<% end %>

	<div class="box" ondragover="return false" ondrop="drop(this, event)">
		<p></p>
	</div>
	<div style="clear:both"></div>
  </body>
</html>
