<%= form_for @images, :html => {:multipart => true} do |f| %>
  <p>
    <label>image n°1</label>
    <%= image_tag(@images.image_file.thumb.url) if @images.image_file? %>
    <%= f.file_field :image_file %>
    <%= f.hidden_field :image_file_cache %>
  </p>
<% end %>
