<!DOCTYPE html>
<html>
<head>
  <title>Pecs</title>
  <%= stylesheet_link_tag    "application" %>
   <%= javascript_include_tag "application" %>
  <%=javascript_include_tag :defaults %>
</head>
<body>

<%= yield %>

</body>
</html>
